
@media (max-width:801px) and (min-width:481px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */ 
    #mostPopular article{
        flex-direction: column;
    }
    #mostPopular article .bloco{
        width: 80%;
        margin: 2% 10% ;
    }


    #find-us #card{
        background: rgba(1, 40, 146, 0.918);
        color: white;
        padding: 15px;
        border-radius: 4px;
        box-shadow: 1px 1px 15px rgba(0, 21, 66, 0.671);
        position: absolute;
        z-index: 99;
        height: 300px;
        width: 50%;
        top:0;
        left: 0;
        visibility: visible;
    }
    #buttonC{
        display: none;
    }
    #map {
        position: absolute;
        right: 0;
        top: 0;
        width: 50%;
        height: 300px;    
    
    }
}
