/*Fonte*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
*{
    box-sizing: border-box;
}


body{
    margin:0;
    padding: 0;
    font-family: 'Montserrat', sans-serif ;
}

/*formatação Header*/
header{
    background:no-repeat center/cover url('../img/lago.jpg');
    height: 70vh;
    color:white;

}
header nav p{
    cursor: pointer;
    position: relative;
    text-indent: 3em;
}

header nav{
    margin: 0;
    padding: 0 15px;
    display:flex;
    justify-content: space-between;
  
}

.header-content{
    max-width: 60%;
    color:white;
    margin: 8%;
    text-shadow: 1px 1px 2px rgb(83, 83, 83);
}
h1{
    font-size: 3rem;

}
.header-button{
    color: black;
    background: white;
    border: none;
    border-radius: 3px;
    padding: 5px 10px;
    font-size: 12pt;    
    transition: 0.5s;
    font-weight: bold;
    cursor: pointer;
}
.header-button:hover{
    background: #0014279f;
    color:white;
    border-radius: 5px;

}

/*Content*/
#mostPopular{
    margin: 0% 3%;
   
}
#mostPopular #title{
    text-align: center;
    color:black;
    font-size: 2em;
    font-weight: bold;
    padding-top: 4%;
    display: flex;
    align-content: center;
    text-indent: 1em;
}
#mostPopular #title #spam{
    color: #EEAB01;
    text-indent: .5em;
}
article{
    display: flex;
}
article .bloco{
    width: 30%;
    margin: 1% 3%;
    transition: all .5s;    
}

#mostPopular .bloco img{
    width: 100%;
    transition: all .5s;
}
#mostPopular .bloco img:hover{
    filter: grayscale(0.6) blur(2px);
    cursor: pointer;
    z-index: 0;
}
#mostPopular .bloco P{
    font-weight: bold;
}

#mostPopular .bloco div{
    color: white;
    background-color: #EEAB01;
    position: relative;
    width: 120px;
    height: 30px;
    top: 30px;
    padding: 2%;
    z-index: 2;
}


#services{
    margin: 0px;
    padding: 3%;
    background: no-repeat center/cover url("../img/aviao.jpg");
    color: white;

}
#services h2{
    text-indent: 2em;
    filter: grayscale(0);
}
#services article .bloco img{
    width: 30%;
    margin-bottom: -30px;
    
}
#services article  a{
    color: white;
    padding: 10px;
    text-decoration: none;
    border-radius: 8px;
    background-color: rgba(1, 39, 146, 0.726);
    margin-top: 10px;
    margin-bottom: 40px;
    transition: all 0.5s;
}
#services article  a:hover{
    background-color: rgba(1, 26, 95, 0.526);
    box-shadow: 1px 1px 4px rgba(1, 20, 73, 0.685) inset;
}
#services article .bloco {
    text-align: center;
}

/* MAPA */
#map {
    height: 400px;
    /* The height is 400 pixels */
    width: 100%;
    /* The width is the width of the web page */
  }

#find-us{
    padding: 50px 20%;
  
    position: relative;
}
#find-us #card{
    visibility: hidden;
    height: 300px;
    background: rgba(1, 40, 146, 0.918);
    color: white;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 1px 1px 15px rgba(0, 21, 66, 0.671);
    position: absolute;
    z-index: 99;
    top: calc(50% - 150px);
    left: calc(25% - 200px);
    
}

#buttonC{
    background: rgba(1, 40, 146, 0.918);
    color: white;
    position: absolute;
    bottom: 50px;
    z-index: 99;
    padding: 10px;
    border: none;
    transition: all 0.3s;
    box-shadow: 2px -2px 4px rgba(2, 0, 95, 0.822);
    cursor: pointer;
}
#buttonC:hover{
    background: rgba(255, 255, 255, 0.534);
    color: rgba(1, 40, 146, 0.918);
}
#card ul{
    list-style: none;
}
#card ul li{
    display: flex;
    margin-top: 20px;
}

















